Test_Results/Small_Regr_AUP/LastReport/
Test_Results/Small_Regr_MP/LastReport/
Test_Results/Small_Regr_AUP/S_*/
Test_Results/Small_Regr_MP/S_*/
Test_Results/Regression_Reports_AUP/LastReportGeneration/
Test_Results/Regression_Reports_AUP/Session_*/
Test_Results/Regr_Reports_AUP/LastReport/
Test_Results/Regr_Reports_AUP/S_*/
Test_Results/Output_Reports_AUP/LastReportGeneration/
Test_Results/Output_Reports_AUP/Session_*/
Test_Results/Reports_AUP/LastReport/
Test_Results/Reports_AUP/S_*/
Test_Results/Reports_DWF/*
Test_Results/Reports_LSCA/LastReport/
Test_Results/Reports_LSCA/S_*
Test_Results/Output_Regr_Reports_SI/LastReport/
Test_Results/Output_Regr_Reports_SI/S_*/
Test_Results/Output_Reports_SI/LastReport/
Test_Results/Output_Reports_SI/S_*/
pyBase/pyTestPDW/__pycache__
pyBase/pyTestPDW/bat/log
pyBase/pyTestWHP/__pycache__
pyBase/pyTestWHP/bat/log
pyBase/pyTestAP/__pycache__
pyBase/pyTestLSCA/__pycache__
pyBase/pyTestSI/__pycache__
Report_Generator/log
Report_Generator/AUP_RequirementTest/AUP_TestCases_Replaced.xlsx
Report_Generator/AUP_RequirementTest/log
Report_Generator/AUP_RequirementTest/__pycache__
Report_Generator/AUP_TC_KPI_Replaced.xlsx
Report_Generator/__pycache__
Report_Generator/KPI_Evaluation/__pycache__
Report_Generator/Bricks_CI/log
*.pyc