[submodule "contrib/mf_tools"]
	path = contrib/mf_tools
	url = git@github-am.geo.conti.de:ADAS/mf_tools.git
[submodule "contrib/VSP_pyBase"]
	path = contrib/VSP_pyBase
	url = git@github-am.geo.conti.de:ADAS/VSP_pyBase.git
[submodule "contrib/VSP_SEF_Brake"]
	path = contrib/VSP_SEF_Brake
	url = git@github-am.geo.conti.de:ADAS/VSP_SEF_Brake.git
[submodule "contrib/VSP_SEF_Powertrain"]
	path = contrib/VSP_SEF_Powertrain
	url = git@github-am.geo.conti.de:ADAS/VSP_SEF_Powertrain.git
[submodule "contrib/vCUS-Phen-Mod"]
	path = contrib/vCUS-Phen-Mod
	url = git@github-am.geo.conti.de:ADAS/vCUS-Phen-Mod.git
[submodule "contrib/Reporting_UI/pl_parking"]
	path = contrib/Reporting_UI/pl_parking
	url = git@github-am.geo.conti.de:ADAS/pl_parking.git

