/vCUS_Phen_CM/src_PhenDevel/Debug
/vCUS_Phen_CM/src_PhenDevel/CarMaker.vcxproj.filters
/vCUS_Phen_CM/src_PhenDevel/CarMaker.vcxproj.user
/vCUS_Phen_CM/src_PhenDevel/CarMaker.win64.pdb
/vCUS_Phen_CM/src_PhenDevel/CarMakerInstall.vcxproj
/vCUS_Phen_CM/src_PhenDevel/CarMakerInstall.vcxproj.user
/vCUS_Phen_CM/src_PhenDevel/CarMaker.props
/vCUS_Phen_CM/src_PhenDevel/CarMaker.sln
/vCUS_Phen_CM/src_PhenDevel/CarMaker.vcxproj
/vCUS_Phen_CM/src_PhenDevel/.vs
/vCUS_Phen_CM/src_PhenDevel/.version_win64
/vCUS_Phen_CM/src_PhenDevel/.settings
/vCUS_Phen_CM/src_PhenDevel/.project
/vCUS_Phen_CM/src_PhenDevel/.cproject
/vCUS_Phen_CM/src_PhenDevel/CarMaker.win64.exe
/vCUS_Phen_CM/SimOutput/FRL94R4W
/vCUS_Phen_CM/SimOutput/FRL94R4W.log
/vCUS_Phen_CM/SimOutput/IALD799W
/vCUS_Phen_CM/SimOutput/IALD799W.log
/vCUS_Phen_CM/SimOutput/FRLAABWW
/vCUS_Phen_CM/SimOutput/FRLAABWW.log
/vCUS_Phen_CM/SimOutput/Validation
/vCUS_Phen_CM/bin
/vCUS_Phen_CM/src
/vCUS_Phen_CM/src_cm4sl
/vCUS_Phen_CM/Movie/Camera.cfg.autobackup
/vCUS_Phen_CM/Movie/.road_cache
/vCUS_Phen_CM/Movie/Camera.cfg
/vCUS_Phen_CM/Data/Config/GUI
/vCUS_Phen_CM/Data/TestRun/.tmp*
/vCUS_Phen_CM/Data/Vehicle/.tmp*
/vCUS_Phys_CM/src/Debug
/vCUS_Phys_CM/src/CarMaker.vcxproj.filters
/vCUS_Phys_CM/src_PhenDevel/CarMaker.vcxproj.user
/vCUS_Phys_CM/src/CarMaker.win64.pdb
/vCUS_Phys_CM/src/CarMakerInstall.vcxproj
/vCUS_Phys_CM/src/CarMakerInstall.vcxproj.user
/vCUS_Phys_CM/src/CarMaker.props
/vCUS_Phys_CM/src/CarMaker.sln
/vCUS_Phys_CM/src/CarMaker.vcxproj
/vCUS_Phys_CM/src/.vs
/vCUS_Phys_CM/src/.version_win64
/vCUS_Phys_CM/src/.settings
/vCUS_Phys_CM/src/.project
/vCUS_Phys_CM/src/.cproject
/vCUS_Phys_CM/src/CarMaker.win64.exe
/vCUS_Phys_CM/SimOutput/FRL94R4W
/vCUS_Phys_CM/SimOutput/FRL94R4W.log
/vCUS_Phys_CM/SimOutput/IALD799W
/vCUS_Phys_CM/SimOutput/IALD799W.log
/vCUS_Phys_CM/SimOutput/FRLAABWW
/vCUS_Phys_CM/SimOutput/FRLAABWW.log
/vCUS_Phys_CM/SimOutput/Validation
/vCUS_Phys_CM/bin
/vCUS_Phys_CM/src
/vCUS_Phys_CM/src_cm4sl
/vCUS_Phys_CM/Movie/Camera.cfg.autobackup
/vCUS_Phys_CM/Movie/.road_cache
/vCUS_Phys_CM/Movie/Camera.cfg
/vCUS_Phys_CM/Data/Config/GUI
/vCUS_Phys_CM/Data/TestRun/.tmp*
/vCUS_Phys_CM/Data/Vehicle/.tmp*

# Bricks build environment and artifacts
venv/
conan_workarea/