# Ignore everything in this directory

# Except this file
!.gitignore
!TestRun/*/

**/Debug/
**/build/
**/tests/carmaker/src/MoCo_Brake/MoCo_Brake_CMcoder_CarMaker_rtw/**
**/tests/carmaker/src/MoCo_Brake/slprj/**
**/src/package/MoCo_Brake/slprj/_sfprj/**
**/src/package/MoCo_Brake/slprj/_jitprj/**
tests/carmaker/Movie
tests/carmaker/bin
*/Plugins
*/SimInput/
*/SimOutput/
**/Chassis
**/Config
**/Pic
*/Sensor/
**/Tire
**/Vehicle
*/Trailer/
*/UserDriver/
*/VehicleControl/
*.tmp*
.road_cache/
*.tcl
*.autosave
*.log
*.info
*.IPGControl.sessions
*.sln

*.props
*.tlog
*.version*
*.suo
*.project
*.depend
*.cproject
*.twm
app_tmp.c
*.*db*
*.dll
*.lib
*.exe
*.dmr
*.defs
*.dict
*.ipch
*.mat
*.tmw
*.target*
*.slxc
*.prefs
*.obj
*.o
*.a
*.mk
*.filters
*.vcx*
**/conan_workarea/
**/venv/

modelsources.txt
defines.txt

# Intermediate products of the smoke tests
tests/.venv/
tests/carmaker/Data/TestRun/SEF_BRAKE/