# Code ownership
# Each line is a file pattern followed by one or more owners.

# protect disabling of regression tests and changing the test thresholds
/tests/SIL/Report_Generator/Bricks_CI/run_regression_tests.bat @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Mid.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Mid_CUS.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Mid_Performance.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Full.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Small.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Small_CUS.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
/tests/SIL/Report_Generator/Bricks_CI/Test_Thresholds_Small_Performance.xml @uidn7467 @uidq5915 @uib48745 @uid40190 @uidp6650 @uidn3627 @uib09244
