# Ignore file for git
/AP_AutoTestExecution/
/AP_RegressionTests/
/AP_SmallRegressionTests/
/AP_RequirementTest/
/LSCA_AutoTestExecution/
/PDW/
/WHP/
/SI_RegressionTests/
/SI_AutoTestExecution/
/AP/temp/
.tmp*