# Ignore everything in this directory

# Except this file
!.gitignore
!TestRun/*/

tests/carmaker/bin/

**/Debug/
**/build/
**/tests/carmaker/src/OCTAGONEngine/OCTAGONEngine_CMcoder_CarMaker_rtw/**
**/tests/carmaker/src/OCTAGONEngine/slprj/**
tests/carmaker/Movie
*/Plugins
*/SimInput/
*/SimOutput/
**/Chassis
**/Config
**/Pic
*/Script/
*/Sensor/
**/Tire
**/Vehicle
*/Trailer/
*/UserDriver/
*/VehicleControl/
*.tmp*
*.erg
*.erg.info
.road_cache/
*.tcl
*.autosave
*.log
*.info
*.IPGControl.sessions
*.sln

*.props
*.tlog
*.version*
*.suo
*.project
*.depend
*.cproject
*.twm
*.bat
app_tmp.c
*.*db*
*.dll
*.lib
*.exe
*.dmr
*.defs
*.dict
*.ipch
*.mat
*.tmw
*.target*
*.slxc
*.prefs
*.obj
*.o
*.a
*.mk
*.filters
*.vcx*

modelsources.txt
defines.txt