Data/Config
Data/Pic
Data/Sensor/vCUS_Parameterset
Data/Vehicle/.tmp*
Movie/*
Plugins
src/.version_win32
src/.version_win64
src/app_tmp.c
bin
include/CopiedIncludes
prj/Debug
prj/Debug_Base_MoCo
prj/DebugCus
prj/Debug_Performance
prj/DebugVisu
prj/.vs
prj/.version_win32
prj/.version_win64
prj/app_tmp.c
prj/CarMaker.win64.pdb
prj/CarMaker.win64.lib
prj/CarMaker.win64.exp
prj/CarMakerAP_DLL.vcxproj.user
prj/Release
prj/ReleaseCus
prj/Release_Performance
prj/build
SimOutput
lib
.IPGControl.sessions
tools/caniogen/output
tools/caniogen/PRIVATE_CAN.info
CANdb/PRIVATE_CAN.info
CANdb/*.ini

# Exceptions from gitignore
!Movie/Camera.cfg
!Movie/Plugins/AUP_Visualization.tclgeo
!Movie/Plugins/Draw_SensorLines.tclgeo
!Movie/Plugins/LSCA_Visualization.tclgeo
!Movie/Plugins/SVC_Visualization.tclgeo
!Movie/Orangebar.png
!Movie/greenbar.png
!Movie/s1.png
!Movie/s2.png
!Movie/s3.png

# obsolete, keep to avoid confusions in older local copies of mf_sil
prj/Debug_CI
prj/Debug_Cus
prj/Debug Visu
prj/Release_Cus
src/CarMaker.win32.pdb
prj/CarMaker.win32.pdb